
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*index*/

:root {
    --cor1: #EAC8C9;
    --cor2: #D99CA1;
    --cor3: #C87D82;
    --cor4: #B1565B;
    --cor5: #99343A;
    --c0r6: #C05464;
    --cor7: #B95E65;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: open sans;
}

body {
    background-color: #fab2b3;
    margin: 0px;
    padding: 0px; 
}

main {
    min-width: 280px;
    max-width: 900px;
    
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    
}


.header-2 {
  background-color: var(--cor3);
  width: 100%;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}


.social-icons {
  width: 45px;
  height: 45px;
  display: flex;
  background-color: var(--cor7);
 
}

menu {
  display: none;
}


menu > ul {
  list-style-type: none; 
  
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: open sans;
  font-weight: bold;
  font-size: 15px;

}

i#burguer {
  background-color: var(--cor5);
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: white;  
}

i#burguer > :hover {
  background-color: white;
  color: var(--cor7);
}

footer {
    background-color: var(--cor3);
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: white;
}

 
  .titulo-servico {
    background-color: var(--cor7);
    color: white;
    width: 886px;
    font-size: 1.7rem;
    padding: 10px;
    text-align: center;
  }

  .whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
  }

  /* equipe */

  .conteiner-renata {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    
    }
  
       
    .item-renata {
      display: grid;      
    }
    
    .nome-renata {
        text-align: justify;
        font-size: 1.5em; 
        margin-left: 10px;
        margin-top: 10px;
        padding: 10px 10px 10px 0px;        
    }

    .item-renata-texto {  
        display: grid;      
        text-align: justify;
        font-size: 1.1em; 
        padding: 10px 15px;
        list-style-type: none;
        line-height: 20px;
        
        
    }
    
    
    .conteiner-equipe {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;      
      margin-top: 10px;
      gap: 5px;
      height: 900px;
      width: 900px;

    }
      
    .item-equipe-1 {
      display: grid;
      width: 290px;
      height: 400px;
      margin-top: 30px;
      background-color: var(--cor2);  
       }
  
      
    .item-equipe-2 {
      display: grid;
      width: 290px;
      height: 400px;
      margin-top: 30px;
      background-color: var(--cor1);  
      }
  
    .item-equipe-3 {
      display: grid;
      width: 290px;
      height: 400px;
      margin-top: 30px;
      background-color:var(--cor1);  
      }
  
      .item-equipe-4 {
        display: grid;
        width: 290px;
        height: 480px;
        background-color: var(--cor1);  
        border-radius: 0px 0px 10px 10px ; 
        margin-top: -23px; 
        }

        
    .item-equipe-5{
      display: grid;
      width: 290px;
      height: 480px;
      background-color: rgb(209, 205, 205);  
      border-radius: 0px 0px 10px 10px ; 
      margin-top: -23px;
      }

      
    .item-equipe-6 {
      display: grid;
      width: 290px;
      height: 480px;
      background-color: var(--cor1);   
      border-radius: 0px 0px 10px 10px ; 
      margin-top: -23px;
      }

      .h4 {
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        
        padding: 10px;
      }

      .p {
        font-family: open sans;
        font-size: 18px;
        text-align: center; 
        margin-top: -10px;    
        padding: 10px;
         

      }

      
      .h3 {
        font-family: open sans;
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
        padding: 10px;
      }


       /* dicas de beleza */       
    
    .conteiner-videos {
      display: grid;
      background-color: var(--cor1);
      grid-template-columns: 1fr;
      width: 905px;
      height: 1600px;
      justify-content: center; 

    }
      
    .item-video-1 {
      display: grid;        
      margin-top: 10px;
      width: 905px;
      height: 315px; 
      justify-content: center;
     }
  
     .item-video-2 {
      display: grid;        
      margin-top: 10px;
      width: 905px;
      height: 315px; 
      justify-content: center;
     }
  
     .item-video-3 {
      display: grid;        
      margin-top: 10px;
      width: 905px;
      height: 315px; 
      justify-content: center;
     }
  
     .item-video-4 {
      display: grid;        
      margin-top: 10px;
      width: 905px;
      height: 315px; 
      justify-content: center;
     }
  
/* localização */

           
.social-icons {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: var(--cor6);  
  margin-top: 10px;
  justify-content: center;
 
}

.mapa {
  display: block;
  width: 900px;
  height: 600px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.endereco {
  display: block;
  
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.siga-nos {
  background-color: var(--cor7);
  color: white;
  width: 886px;
  min-height: 50px;
  font-size: 1.7rem;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}




/* combos */

.conteiner-combos {
    display: grid;
    background-color: var(--cor1);
    grid-template-columns: 1fr 1fr 1fr;
    width: 905px;
    height: 600px;
    margin-top: 20px;
    justify-content: center; 
    grid-column-gap: 10px;

  }
    
.conteiner-botao {

  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D99CA1;
  text-decoration: none;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: var(--cor1);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
    
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  
}

a:link 
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  
}

a:hover {
  color: white;
 }

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--cor7);
  left: 0;
  top: 0;
  border-radius: 10px;   
  
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
  
}


