
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*index*/

:root {
    --cor1: #EAC8C9;
    --cor2: #D99CA1;
    --cor3: #C87D82;
    --cor4: #B1565B;
    --cor5: #99343A;
    --c0r6: #C05464;
    --cor7: #B95E65;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: open sans;
}

body {
    background-color:white;
    margin: 0px;
    padding: 0px; 
}

main {
    min-width: 280px;
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    
}

header {
    background-color: #B95E65;
    width: 100%;
    height: 500px;
    
    
}

.header-2 {
  background-color: var(--cor3);
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logocabeca {
  align-items: center;
}

.header-3 {
  background-color: var(--cor3);
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}





.capa {
  display: flex;
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

menu {
  display: none;
}


menu > ul {
  list-style-type: none; 
  
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: open sans;
  font-weight: bold;
  font-size: 15px;

}

i#burguer {
  background-color: var(--cor5);
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: white;  
}

i#burguer > :hover {
  background-color: white;
  color: var(--cor7);
}

footer {
    width: 100%;
    min-height: 250px;
    display: flex;
    background-color: rgb(41, 40, 40);
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 10px;   
    margin: 10px; 
    
}

footer .boxs:nth-child(4)
{
  width: 300px;
}

.boxs h2 {
  color:  rgb(204, 199, 199);
  margin-bottom: 10px;
  font-size: 20px;
}

.boxs h3 {
  color:  rgb(204, 199, 199);
  margin-bottom: 10px;
  font-weight: lighter;
}

.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li a {
    color:  rgb(204, 199, 199);
    text-decoration: none;
      
}

@media (max-width: 950px)
{
  footer {
    flex-direction: column;
  }

  footer .boxs{
    width: 100%;
    text-align: center;
  }

  footer .boxs:nth-child(4)
  {
    width: 100%;
  }

}



.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px ;
}

.footer .sociais {
  display: flex;
}

.sociais .sociais{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
  
.direitos {
  display: inline-block;
  background-color: rgb(41, 40, 40);  
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  color:  rgb(204, 199, 199);
}


article > p {
    font-family: open sans;
    text-align: center;
    color: white;
}

.auto-grid {
    --auto-grid-min-size: 16rem;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    gap: 10px;
    
  }

  .wrapper {
    max-width: 65rem;
    margin: 0 auto;
    
  }
   
  li {
    text-align: center;
    font-size: 1.2rem;
    background: var(--cor3);
    color: #ffffff;
    list-style: none; 
      
 }  
  
  .item-servico {
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    
  }

  .sub-item-servico {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 20px;
    
  }
 
  .titulo-servico {
    background-color: var(--cor7);
    color: white;
    width: 886px;
    font-size: 1.7rem;
    padding: 10px;
    text-align: center;
  }

  .whatsapp {
    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
  }

  